[input_shaper]
#shaper_type_y = mzv
#shaper_freq_y = 37.0
#shaper_type_x = mzv
#shaper_freq_x = 3
# [input_shaper] #sprite
# shaper_type_y = mzv
# shaper_freq_y = 41.2
# shaper_type_x = 2hump_ei
# shaper_freq_x = 80.4